---
# TP1 - Introduction au Data Mining
Ce premier TP a pour but de vous familiariser à la manipulation de données à l'aide de la librairie Pandas.  


---

Importation des libraires:

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

0. Téléchargez le dataset à l'adresse suivante: https://www.kaggle.com/jsphyg/weather-dataset-rattle-package  
Puis chargez l'archive dans vos Fichiers Colab avant de la dézipper:

In [ ]:
# Unzip data
!unzip archive.zip

1. Créez un dataframe appelez *df* à partir du fichier weatherAUS.csv  
Affichez les 5 premières lignes. Prendre le temps de comprendre les données.

In [ ]:
# Read Data
# Here

# Print head
# Here

2. Combien y'a t-il de lignes et de colonnes ?

In [ ]:
# Number of rows
# Here

# Number of columns
# Here

3. Printez quelques informations sur le dataframe

In [ ]:
# Print some info
# Here

4. Affichez la description du dataframe

In [ ]:
# Get some description of the columns
# Here

5. Affichez le nom des colonnes

In [ ]:
# Print columns name
# Here

6. Sélectionnez uniquement les colonnes suivantes:  
Date, Location, MinTemp, MaxTemp, Rainfall, Sunshine, Humidity9am, Humidity3pm, Pressure9am, Pressure3pm

In [ ]:
# Select only these columns
# Here

7. Affichez la nouvelle forme de *df* puis 7 de ces lignes de manière aléatoire.

In [ ]:
# Print shape
# Here

# Print 7 random rows
# Here

8. Combien y'a t-il de NaN pour chaque colonne *df*

In [ ]:
# Check NaN
# Here

9. Réalisez la même opération mais affichez le pourcentage de NaN

In [ ]:
# In percentage
# Here

10. Est-ce que des lignes sont dupliqués dans le dataframe?

In [ ]:
# Check duplicated rows
# Here

11. Supprimez le colonne 'Sunshine'.

In [ ]:
# Delete Sunshine column
# Here

12. Affichez la liste des villes proposée dans le dataset.

In [ ]:
# Names of the locations
# Here

13. Combien y'a t-il d'observations par ville ?

In [ ]:
# Number of each location with NaN values
# Here

14. Tracer un barplot représentant la distribution des villes. **Tips:** plt.bar().

In [ ]:
# Figure size
plt.figure(figsize=(12,8))

# Plot bar
# Here

# Some customization
plt.xticks(rotation='vertical')
plt.show()

15. Créez un dataframe appelez *sydney* contenant uniquement les observations pour la ville de Sydney. **Tips:** vous devrez peut être reset les index.

In [ ]:
# Create a new dataframe with only Sydney
# Here
# And reset the index
# Here

16. Quelle est la date la plus ancienne et la plus récente pour ce nouveau dataframe

In [ ]:
# Print max Date
# Here

# Print min Date
# Here

17. Sur cette période de temps, quelle a été la température minimale moyenne, la médiane de la température maximale et la quantité totale de pluie tombée en mm?

In [ ]:
# MinTemp moyenne
# Here

# MaxTemp moyenne
# Here

# Sum Rainfall
# Here

18. Remplacer les valeurs manquantes pour Rainfall par la moyenne et pour MaxTemp par la médiane.

In [ ]:
# Replace NaN
# Here

19. Créer une colonne RainToday qui prend comme valeur 1 si Rainfall>0 et 0 si Rainfall==0. **Tips:** vous pouvez faire une boucle.

In [ ]:
# Loop over sydney rows
# Here

# Print sample of sydney
sydney.sample(5)

20. Transformez la colonne RainToday en une colonne de type int

In [ ]:
# Convert colum
# Here

21. Créez la colonne *Pressure* représentant la valeur moyenne des valeurs de Pressure9am et Pressure3pm :  
Pressure[i] = (Pressure9am[i] + Pressure3pm[i])/2

In [ ]:
# Create Pressure column
# Here

22. Tracer la variation de *Pressure* du mois de janvier 2016

In [ ]:
# Select dates
# Here

# Select pressure
# Here

# Plot size
plt.figure(figsize=(12,8))

# Plot it
# Here

# Plot customization
plt.xticks(x, x, rotation='vertical')
plt.show()

23. Sur le même principe que pour le dataframe *sydney* créé le dataframe *Canberra*. (ne reproduisez pas toutes les modifications de colonnes comme réalisé sur *sydney*)

In [ ]:
# Create Canberra
# Here

24. Concaténez *sydney* et *canberra* suivant leurs lignes

In [ ]:
# Concatenate sydney et canberra
# Here

25. [Standardisez](https://stackoverflow.com/questions/26414913/normalize-columns-of-pandas-data-frame) toutes les valeurs quantitatives de votre nouveau dataframe. **Tips:** plusieurs étapes sont nécessaires.

In [ ]:
# Standardization
# Here

26. Sauvegarder votre dataframe combinant *sydney* et *canberra*

In [ ]:
# Save dataframe
# Here