---
# TP2 - Introduction au Data Mining - Suite
Ce TP va vous permettre d'approfondir vos connaissances de la librairies Pandas en réalisant des manipuations plus complexes.  

---

0. Téléchargez le dataset au lien suivant: https://www.kaggle.com/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows  
Charger l'archive dans vos Fichiers Colab puis dézippé la:

In [ ]:
# Unzip file
# !unzip archive.zip

Importation des librairies nécessaires:

In [ ]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder

1. Lire le fichier imdb_top_1000.csv (pd.read_csv) et print les 5 premières lignes. Prendre le temps de comprendre les données.

In [ ]:
# Read file
# Here

# Print head
# Here

2. Combien y'a t-il de lignes et de colonnes et print les noms de colonne

In [ ]:
# Print number of rows
# Here

# Print number of columns
# Here

# Column names
# Here

3. Sélectionner seulement les colonnes suivantes:  
Series_Title, Released_Year, Runtime, Genre, IMDB_Rating, Overview, Director

In [ ]:
# Select columns
# Here

4. Renommer la colonne Series_Title en Title et IMDB_Rating en Score:

In [ ]:
# Rename columns
# Here

5. Dans la colonne Runtime, supprimer les chaînes de caractères pour ne garder que le temps en minute. A la fin de la manipulation la colonne doit être de type integer. Exemple: 112 min -> 112.

In [ ]:
# Delete str and convert to int
# Here

6. On observe une anomalie pour la colonne *Released_Year*. Cette colonne devrait être composé que de int. Affichez toutes les préséentes dans la colonne.

In [ ]:
# All unique values
# Here

7. On observe une valeur étrange, supprimez la ligne correspondante puis transformez le type de colonne en int. Faites aussi un reset des index. **Tips:** drop=True

In [ ]:
# Select only non 'PG' rows
# Here
# Change column type
# Here

8. Combien de réalisateurs sont listés dans le dataframe?

In [ ]:
# Number of directors
# Here

9. Quel est le réalisateur le plus prolifique de ce dataset?

In [ ]:
# Count director occurence
# Here

10. Quelles sont les films réalisés par Christopher Nolan?

In [ ]:
# Nolan dataset
# Here

11. Quelle est la durée moyenne de ces films? Et le score médian?

In [ ]:
# Mean Runtime
# Here

# Median Score
# Here

12. Retour au dataframe complet, combien de genre distinct existe-t-il ? Nommez les.

In [ ]:
# Split all Genre seperated by a comma
# Here

# Flatten the list (1D)
# Here

# Suppress whitespaces (because ' Drama' is not the same as 'Drama')
# Here

# Select each Genre only 1 time
# Here

# Get the number of unique Genre
# Here

13. En utilisant la fonction *groupby()*, compté le nombre de film sortie pour chaque date de la colonne Released_Year.

In [ ]:
# Groupby Year
# Here

14. Quelle année compte le plus grand nombre de sorties de films?

In [ ]:
# Sort result
# Here

15. En utilisant la libraire seaborn. Tracez un graphique montrant l'évolution du nombre de film par an. **Tips:** vous pouvez utilisez le résultat précédent et la fonction lineplot()

In [ ]:
# Lineplot
# Here

16. Combien de films chaque réalisateur a-t-il sortie par an ? **Tips:** regroupez les réalisateurs et les années de sorties puis comptez le nombre de titres.

In [ ]:
# Film per year per director
# Here

17. Reprenez votre code précédent et ajoutez y le score moyen des films sorties la même année. **Tips:** utilisez *.agg()*

In [ ]:
# Mean score per year
# Here

18. Créez un dataframe (*df2*) qui ne regroupe que les films des genres: Western et Comedy

In [ ]:
# Select Western et Comedy
# Here

19. One-hot encodé la variable *Genre* de ce nouveau dataframe. **Tips:** jetez un oeil à la documentation pandas de [get_dummies](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html)  
Ensuite supprimez la colonne Genre. Vous devez obtenir un nouveau dataframe (*df3*) ayant comme forme (17,8).

In [ ]:
# One-hot encoding
# Here

20. Ecrire un dictionnaire ayant pour clés Western et Comedy, et pour valeur Cow-Boy et Humour. Puis, en utilisant la fonction map, modifier la colonne Genre de *df2*.

In [ ]:
# Create the dict
# Here

# Map it to Genre
# Here

# Print the dataframe
# Here

21. Pour l'ensemble des données (*df*), discrétisez les valeurs de scores comme ci-dessous:  
[7 ,  8[ => 'Très Bon'  
[8 ,  9[ => 'Excellent'  
[9 , 10[ => 'Incroyable'

In [ ]:
# Loop over each row
# Here

22. Sauvegarder le nouveau dataframe *df*

In [ ]:
# Save the data
# Here